@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start"/>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Color="Color.Inherit"
                       Href="https://github.com/MudBlazor/MudBlazor" Target="_blank"/>
    </MudAppBar>
    <MudDrawer Open="@true" Elevation="1">
        <MudDrawerHeader>
            <MudText Typo="Typo.h6">Demo app</MudText>
            <Login />
        </MudDrawerHeader>
        <MudNavMenu>
            <MudNavLink Href="/weather" Match="NavLinkMatch.All">Weather</MudNavLink>
            <MudNavLink Href="/counter" Match="NavLinkMatch.All">Counter</MudNavLink>
            <MudNavLink Href="/databinding" Match="NavLinkMatch.All">Databinding en form</MudNavLink>
            <MudNavLink Href="/upload" Match="NavLinkMatch.All">Upload</MudNavLink>
            <MudNavLink Href="/IntComponents" Match="NavLinkMatch.All">Interactive components</MudNavLink>
            <MudNavLink Href="/IntWebAssembly" Match="NavLinkMatch.All">Interactive WebAssembly</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent Class="pt-16 px-16">
        <MudContainer Class="mt-6">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>