@page "/Photos"
@using Insta.Shared.Entities
@using InstaFail.Dal
@inject IPhotoDal PhotoDal
<h3>Photos</h3>

@if (AllPhotos is null)
{
    <p>Nog geen foto's!</p>
}
else
{
    <ul>
        @foreach (var photo in AllPhotos)
        {
            <li>
                @if (photo.PhotoData is not null && photo.PhotoData.Length > 0)
                {
                    <img src="data:image/png;base64,@Convert.ToBase64String(photo.PhotoData)"/>
                }
                else
                {
                    <p>(no img)</p>
                }
                <strong>@photo.Title</strong>
                <p>@photo.Description</p>
            </li>
        }
    </ul>
}

@code {
    List<Photo>? AllPhotos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AllPhotos = (await PhotoDal.GetAllAsync()).ToList();
    }

}

<style>
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li img {
        max-width: 150px;
        max-height: 150px;
        display: block;
    }
</style>