@page "/Photos"
@using Insta.Shared.Dal
@using Insta.Shared.Entities
@using InstaFail.Client.Components
@using InstaFail.Client.Pages
@inject IPhotoDal PhotoDal
<h3>Photos</h3>

@if (AllPhotos is null)
{
    <p>Nog geen foto's!</p>
}
else
{
    <ul>
        @foreach (var photo in AllPhotos)
        {
            <li>
                <PhotoDetails Photo="photo" WithDetailsLink/>
            </li>
        }
    </ul>
}

@code {
    List<Photo>? AllPhotos { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AllPhotos = (await PhotoDal.GetAllAsync()).ToList();
    }

}

<style>
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li img {
        max-width: 150px;
        max-height: 150px;
        display: block;
    }
</style>